body{
/*background-image: url(images/man-3915438_960_720.jpg);*/
    background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
    opacity: 0.8;
    position: relative;

}
div{
    
}
.home{
    
    margin-top: 200px;
    text-align: center;
    color:black;
    font-family: 'Bangers', cursive;

}

.about{
    margin-top: 400px;
   box-shadow: 0 2px 2px #ccc;
   background-image: url(smoke-376543_1280.jpg);
    background-size: cover;
    color: white;
}
.skills{
    margin-top: 200px;
}

.experience{
    margin-top: 200px;
}
.contact{
    background-color: currentColor;
    margin-top: 300px;
    
    
}

h1{
    
}
.abo{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.skill{
    text-align: center;
}
.con{
    text-align: center;
    color: deeppink;
}
h2{
    
}
.abo{
    text-align: center;
   
}


.exp{
    text-align: center;
}

h4{
    color: deeppink;
    margin-left: 590px;
}

img{
    
}
.img-circle{
    margin-bottom: 50px;
    margin-left: 570px;
}
.fb{
    border-radius: 5px;
}
.insta{
     border-radius: 5px;
}
.hom{
    border-radius:50px; 
}

a{
   
}
.mail{
    color: deeppink;
   margin-left: 620px;
    margin-bottom: 200px;
}
.fb{
    margin-left: 330px
}
    
.insta{
    margin-left: 10px
}
#home{
    color: deeppink;
}
#contact{
    color: deeppink;
}


    
