html {
    scroll-behavior: smooth;
}
body{

    margin: 0;
    padding: 0;
    background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
    opacity: 0.8;
    position: relative;

}
div{
    
}
.carousel-inner{
    height: 500px;
    
}
#header{
    margin-top: 200px;
}
.home{
    
    margin-top: 200px;
    text-align: center;
    color:greenyellow;
    font-family: 'Bangers', cursive;

}

.about{
    margin-top: 300px;
   box-shadow: 0 2px 2px #ccc;

/*   background-image: url(images/smoke-376543_1280.jpg);*/
    background-size: cover;
    color: black;
}
.skills{
    margin-top: 400px;
     box-shadow: 0 2px 2px #ccc;
}

.experience{
    margin-top: 400px;
     box-shadow: 0 2px 2px #ccc;
}
.contact{
    background-color:#262626;
     box-shadow: 0 2px 2px #ccc;
    margin-top: 300px;
    
    
}

h1{
    text-decoration-line: underline
}
.abo{
    margin-top: 300px;
    text-align: center;
    margin-bottom: 100px;
    color: darkcyan;
}
.skill{
    text-align: center;
    color: darkcyan;
}

.con{
    text-align: center;
    color: greenyellow;
}
h2{
    
}
.abot{
    text-align: center;
    color: black;
}


.exp{
    color: darkcyan;
    text-align: center;
     text-decoration-line: underline;
}

h4{
    color: greenyellow;
    margin-left: 650px;
}

img{
    
}
.img-circle{
    margin-bottom: 50px;
    margin-left: 620px;
}
.fb{
    border-radius: 5px;
}
.insta{
     border-radius: 5px;
}
.hom{
    border-radius:50px; 
}

a{
   align-content: center;
}
.mail{
    color: greenyellow;
   margin-left: 670px;
    margin-bottom: 200px;
}
.fb{
    margin-left: 330px
}
    
.insta{
    margin-left: 10px
}
#home{
/*     margin-top: 100px;*/
    color:greenyellow;
}
#contact{
     margin-top: 100px;
    color:greenyellow;
}

#particles-js{
    margin: 0;
    padding: 0;
    height: 400%;
    background: #262626;
}
#view{
    color: black;
}
.item{
    align-content: center;
    position: inherit;
    height: 500px;
   
        
}
#projects{
    text-align: center;
    margin-top: 100px;
     box-shadow: 0 2px 2px #ccc;
}
